<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>drawRadar.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>49BB5B421CA1258F00CFB8D9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>49BB5B5E1CA1258F00CFB8D9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>49BB5B691CA1258F00CFB8D9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
